/*Tablet*/
@media (min-width:361px) {
    /*header bloque sup*/
    header{
        padding: 15px;
        padding-bottom: 5px;
    }
    header li{
        margin: 5px 0px;
    }
    .bloque-sup{
        width: 100%;
        padding: 0px;
        justify-content: space-between;
        align-items: center;
    }
    #logo{
        width: 30%;
        margin: 0px;
        padding: 0px;
    }
    #mensaje{
        width:36%;
        text-align: end;
        margin:0px;
    }
    .buscador{
        width: 30%;
    }
     /*barra nav*/
    .barra-nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 5px;
    }
    .barra-nav ul{
        display: flex;
        padding: 0px;
        align-items: center;
        margin-bottom: 0px;
        justify-content: space-between;
    }
    .barra-nav li{
        text-align: center;
        font-size: 14px;
    }
    .list{
        width: 45%;
    }
    /*ICONO MENU*/
    .burger-menu{
        display: none;
    }
    /*carrusel*/
    .slider img{
        height:150px;
    }
    /*Main articulos*/
    main section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    h2{
        text-align: center;
    }

    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100); 
        width: 40%;
    }
    main h4{
        display: block;
    }
    body{
        font-size: 16px;
    }
    main{
        margin: 20px auto;
    }
    .informacion{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 100%
    }
    .informacion i{
        position: absolute;
        background: white;
        right: 20px;
        top: -15px;
        font-size: 16px;
    }
    .precio{
        width: 30%;
    }
    .descuento{
        width: 70%;
        font-size: 18px;
        padding-left: 1rem;
    }
    footer .foot_p{
        padding-top: 20px;
    }
    /****************register*************/
    #form-register{
        width: 50%;
    }
    .form_top{
        width: 100%;
    }
    .form_bot button{
        width: 20%;
    }
    #reset{
        width: 20%;
    }
    /***********Login****************/
    main>form{
        width: 65%;
    }
    .form_login button{
        width: 25%;
    }
    .form_login{
        row-gap: 40px;
    }
}
/*Desktop*/
@media (min-width:769px){
    /*header bloque sup*/
    .bloque-sup{
        width: 80%;
        padding: 0px;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
    .barra-nav{
        width: 80%;
        margin: auto;
    }
    #logo{
        width:25%
    }
    #mensaje{
        width:30%;
        text-align: end;
        margin:0px;
        font-size: 16px;
    }
    #barra{
        text-align: start;
        outline: none;
    }
    header .boton{
        left: 93%;
    }
    /*header bloque nav*/
    .barra-nav li{
        font-size: 16px;
        margin-top: 10px;
    }
    .list{
        width: 30%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .list li a{
        margin-right: 5px;
    }
    .carrusel img{
        height: 300px;
    }
    /* main section*/
    main{
        width: 80%;
        margin: 30px auto;
    }
    main section{
        column-gap: 50px;
        height: 360px;
    }
    main article{
        width: 20%;
        box-shadow: none;
        background-color: white;
        padding: 15px 15px 0px 15px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        height: 360px;
        transition: all .7s ease, height .3s;

    }
    .precio{
        width: 30%;
        font-size: 16px;
        text-align: start;
    }
    .descuento{
        width: 70%;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }
    .informacion{
        padding-bottom: 0px;
    }
    .informacion i{
        transition: .7s;
    }
    .informacion h4{
        opacity: 0;
        position: absolute;
        top: 40px;
        transition: .5s ;
    }
    article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100); 
        height: 380px;
    }
    article:hover i{
        transform: rotate(-90deg);
    }
    article:hover h4{
        margin-bottom: 0;
        margin-top: 0;
        opacity: 1;
        top: 70px;
    }
    /*Footer*/
    footer{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
    }
    footer p{
        font-size: 18px;
        width: 80%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .foot{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
    }
    footer .foot_p{
        padding: 15px;
    }
    .foot_p p{
        margin: auto;
    }
    #icon1:hover, #icon2:hover,#icon3:hover{
        color: rgb(59, 145, 230);
        transform: scale(1.2);
    }
    /********************Register.html************/
    #form-register{
        max-width: 30%;
    }
     /***********Login****************/
     main>form{
        width: 40%;
        margin: 130px auto;
    }
    .form_login button{
        width: 20%;
    }
}